<div class="occurrences-container">
  <div class="occurrence" *ngFor="let complaint of complaints">
    <div class="flex flex-row items-center justify-between">
      <strong> {{ complaint.title }} </strong>

      <span> {{ complaint.timeAgo }} > </span>
    </div>

    <div class="flex flex-row items-center mt-2">
      {{ complaint.day }} - {{ complaint.author }} - {{ complaint.place }}
    </div>

    <div class="flex flex-row items-center mt-2">
      <div class="tag" *ngFor="let tag of complaint.tags">{{ tag }}</div>
    </div>

    <hr />
  </div>
</div>
