.occurrences-container {
  @apply flex flex-col w-[23.5vw] h-[51.755rem] overflow-y-scroll py-6;

  .occurrence {
    @apply flex flex-col w-full py-4 px-8 text-white text-sm;

    strong {
      @apply w-3/5 overflow-hidden text-ellipsis whitespace-nowrap text-base;
    }

    span {
      @apply text-tertiary text-base;
    }

    .tag {
      @apply text-tertiary p-2 me-2 bg-[#0000004d] rounded-[100px] text-xs;
    }

    hr {
      @apply mt-4 bg-[#F9F9F9] opacity-20;
    }
  }
}
