<div class="flex items-center justify-center ml-[-1rem]">
  <apx-chart
    #chart
    class="heatmap-chart"
    [series]="getSeries()"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
  ></apx-chart>

  <div
    class="h-[280px] flex flex-col items-center justify-between text-white mt-[-0.5rem]"
  >
    <span>5</span>

    <div class="heatmap-bar"></div>
    <span>0</span>
  </div>
</div>
