<div [class.dark]="darkMode">
  <div class="app flex flex-col items-center p-8">
    <div class="dashboard-header">
      <div class="text-white absolute top-4 right-4 p-2 bg-primary rounded-lg">
        <button class="mode-toggle-button" (click)="toggleDarkMode()">
          <mat-icon> highlight</mat-icon>
        </button>
      </div>

      <h1>Dashboard</h1>

      <div class="flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
          <div class="input-container">
            <label for="place">Local das ocorrências</label>
            <select id="place" class="select" [(ngModel)]="filter.place">
              <option selected value="">Todos</option>
              <option value="bus">Ônibus</option>
              <option value="bus_terminal">Terminal de ônibus</option>
              <option value="bus_stop">Parada de ônibus</option>
              <option value="subway">Metrô</option>
              <option value="subway_terminal">Terminal de metrô</option>
            </select>
          </div>

          <div class="input-container">
            <label for="type">Tipo de importunação</label>
            <select id="type" class="select" [(ngModel)]="filter.type">
              <option selected value="">Todos</option>
              <option value="groping">Encoxar/apalpar</option>
              <option value="stalking">Perseguição</option>
              <option value="unwanted_photos">Fotos não autorizadas</option>
              <option value="verbal_aggression">Agressão verbal</option>
              <option value="physical_aggression">Agressão física</option>
            </select>
          </div>

          <div class="input-container">
            <label for="moment">Momento da importunação </label>
            <select id="moment" class="select" [(ngModel)]="filter.at_moment">
              <option selected value="">Todos</option>
              <option [value]="true">Momento da denúncia</option>
              <option [value]="false">Antes da denúncia</option>
            </select>
          </div>

          <div class="input-container">
            <label for="gender">Gênero</label>
            <select
              id="gender"
              class="select"
              [(ngModel)]="filter.victim_gender"
            >
              <option selected value="">Todos</option>
              <option value="woman_cis">Mulher cisgênero</option>
              <option value="man_cis">Homem cisgênero</option>
              <option value="woman_trans">Mulher transgênero</option>
              <option value="man_trans">Homem transgênero</option>
              <option value="non-binary">Não binário</option>
            </select>
          </div>

          <div class="input-container">
            <label
              for="rangeInput"
              class="flex flex-row items-center justify-between"
              >Faixa etária

              <span>{{ filter.min_age }} - {{ filter.max_age }}</span>
            </label>
            <mat-slider min="14" max="60">
              <input matSliderStartThumb [(ngModel)]="filter.min_age" />
              <input matSliderEndThumb [(ngModel)]="filter.max_age" />
            </mat-slider>
          </div>
        </div>

        <div class="buttons">
          <button
            class="button me-8 text-primary underline"
            (click)="resetFilter()"
          >
            Limpar filtros
          </button>
          <button
            class="button text-white bg-primary py-2 px-10 rounded-lg"
            (click)="filterComplaints()"
          >
            Filtrar
          </button>
        </div>
      </div>
    </div>

    <div class="charts flex flex-row flex-wrap justify-center mt-8 w-[90vw]">
      <div class="flex flex-col w-[31vw] me-8">
        <div class="home-component w-full h-[26.75rem]">
          <div class="component-header">Momento</div>
          <div class="component-body">
            <moment-chart-component
              [atMoment]="momentStats.at_moment"
              [afterMoment]="momentStats.after_moment"
            />
          </div>
        </div>
        <div class="home-component w-full h-[26.75rem] mt-8">
          <div class="component-header">Horário</div>
          <div class="component-body">
            <time-chart-component [data]="times" />
          </div>
        </div>
      </div>
      <div class="flex flex-col w-[31vw] me-8">
        <div class="home-component w-full h-[26.75rem]">
          <div class="component-header">Faixa Etária</div>
          <div class="component-body">
            <age-chart-component [data]="ageGroups" />
          </div>
        </div>
        <div class="home-component w-full h-[26.75rem] mt-8">
          <div class="component-header">Gênero</div>
          <div class="component-body">
            <gender-chart-component [data]="genderGroups" />
          </div>
        </div>
      </div>
      <div class="flex flex-col w-[23.5vw]">
        <div class="home-component w-full h-[55.5rem]">
          <div class="component-header">Ocorrências</div>
          <div class="occurrences-body">
            <occurrences-list-component [complaints]="treatedComplaints" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
