.app {
  @apply bg-custom-white dark:bg-[#121212];
}

.select {
  @apply bg-secondary-white mt-3 w-full border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 text-secondary dark:text-white dark:bg-[#1E1E1E];
}

.input-container {
  @apply flex flex-col me-8;

  label {
    @apply text-sm font-bold dark:text-white;

    span {
      @apply font-medium text-neutral;
    }
  }
}

.home-component {
  @apply bg-white rounded-2xl dark:bg-[#272727];

  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);

  .component-header {
    @apply h-[3.745rem] py-4 px-8 text-primary text-2xl font-bold;
  }

  .component-body {
    @apply bg-primary-dark rounded-b-2xl flex items-center justify-center;

    height: calc(100% - 3.745rem);
  }

  .occurrences-body {
    @apply bg-primary-dark rounded-b-2xl flex flex-col items-center;

    height: calc(100% - 3.745rem);
  }
}

.dashboard-header {
  @apply w-[90vw] flex flex-col px-14 py-7 home-component relative;

  h1 {
    @apply mb-8 text-primary text-5xl font-bold;
  }
}
