<div class="charts-container">
  <div class="chart-container">
    <apx-chart
      [series]="[atMoment]"
      [chart]="atMomentChartOptions.chart"
      [plotOptions]="atMomentChartOptions.plotOptions"
      [labels]="atMomentChartOptions.labels"
      [colors]="atMomentChartOptions.colors"
    ></apx-chart>

    <div class="datalabel">
      {{ getAtMoment() || 0 }}% <span>No momento</span>
    </div>
  </div>

  <div class="chart-container">
    <apx-chart
      [series]="[afterMoment]"
      [chart]="afterMomentChartOptions.chart"
      [plotOptions]="afterMomentChartOptions.plotOptions"
      [labels]="afterMomentChartOptions.labels"
      [colors]="atMomentChartOptions.colors"
    ></apx-chart>

    <div class="datalabel">
      {{ getAfterMoment() || 0 }}% <span>Após o ocorrido</span>
    </div>
  </div>
</div>
