.charts-container {
  @apply flex flex-row items-center justify-center w-full h-full;

  .chart-container {
    @apply relative flex items-center justify-center;

    .datalabel {
      @apply absolute flex flex-col items-center text-custom-white text-4xl font-bold;

      font-family: "IBM Plex Sans", sans-serif;

      span {
        @apply text-base font-normal;
      }
    }

    apx-chart {
      @apply w-[14vw];
    }
  }
}
